@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

ol,
ul {
  list-style: none;
}

/*====================
- Table of Contents -

1 - 

2 - 

3 - 

4 - 

5 - 

6 - 

7 - 

8 - 

====================*/

html {
  font-family: "Orbitron", sans-serif;

}


/* @media (min-width: 600px) { */
body {
  background-image: linear-gradient(145deg,#0ddaa6 10%, #02214e);
  /* color: rgb(128, 119, 119); */
  min-height: 100%;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}
/* } */

/*============
 DARK MODE 
=============*/

/* @media (min-width: 600px) { */
body.dark {
  background-image: linear-gradient(145deg, #130e13 60% , #1f100e 40%);
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* } */

/* body {
    display: flex;
    flex-wrap: wrap;
} */

/*=========
1 - Sidebar - LIGHT
 =========*/

/* transition from top bar to sidebar */
@media (min-width: 950px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    min-height: 100%;
    flex: 1 1 20%;
    padding: 1.5rem;
    z-index: 2;
    background-image: url("./Assets/DAY.png");
    background-size: cover;
    box-shadow: 0px 0px 40px 0px rgba(122, 122, 122, 0.678);
   
  }
}

/* remain as header bar */
@media (min-width: 601px) and (max-width: 949px) {
  .sidebar {
    background: white;
    flex: 1 1 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    z-index: 2;
    background-image: url("./Assets/DAY.png");
    background-size:cover;
    box-shadow: 0px 0px 40px 0px rgba(122, 122, 122, 0.678);
  }
}

/* mobile view */
@media (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    background: white;
    padding: 1rem;
    z-index: 2;
    background-image: url("./Assets/DAY.png");
    background-size: cover;
    box-shadow: 0px 0px 40px 0px rgba(122, 122, 122, 0.678);
  }
}

/*=========
2 - Sidebar DARK
 =========*/
/* transition from top bar to sidebar */
@media (min-width: 950px) {
  .sidebarDark {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(86, 86, 88);  */
    min-height: 100%;
    flex: 1 1 20%;
    padding: 1.5rem;
    z-index: 2;
    background-image: url("./Assets/NIGHT.png");
    background-size: cover;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.678);
   
  }
}

/* remain as header bar */
@media (min-width: 601px) and (max-width: 949px) {
  .sidebarDark {
    /* background: rgb(86, 86, 88); */
    flex: 1 1 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    z-index: 2;
    background-image: url("./Assets/NIGHT.png");
    background-size: cover;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.678);
  }
}

/* mobile view */
@media (max-width: 600px) {
  .sidebarDark {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    /* background: rgb(86, 86, 88); */
    padding: 1rem;
    z-index: 2;
    background-image: url("./Assets/NIGHT.png");
    background-size: cover;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.678);
  }
}

/*=========
3 - Sidebar Contents
 =========*/

 .dateTime {
   display: flex;
   flex-direction: column;
   /* justify-content: center;
   align-items: center; */
   text-align: center;
 }

/*===========
4 - Theme Toggle Switch
============*/

.switch {
  position: absolute;
  top: 25px;
  left: 25px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  
}

input:checked + .slider {
  background-color: #c51212;
}

input:focus + .slider {
  box-shadow: 0 0 2px #f8d1d1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



/*=========
5 - Time and Date
=========*/


@media (max-width: 950px) {
  .dateTime {
    /* position: relative;
    left: 20%; */
    background: rgba(94, 95, 95, 0.521);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    margin: 20px;
    box-shadow: 0 0 5px 1px rgb(87, 86, 86);
    backdrop-filter: blur(10px);
  }
  }
  
  @media (min-width: 950px) {
    .dateTime {
      /* position: relative;
      top: 5%; */
      background: rgba(94, 95, 95, 0.521);
      border-radius: 5px;
      padding: 10px;
      font-size: 2.5rem;
      margin: 10px;
      box-shadow: 0 0 5px 1px rgb(87, 86, 86);
      backdrop-filter: blur(10px);
    }
  }
/*=========
6 - Clear Button
=========*/

.clear {
  width: 100px;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgb(87, 86, 86);
  background: rgba(94, 95, 95, 0.521);
  backdrop-filter: blur(10px);

}


/*=========
6 - Main Container
=========*/

.main-container {
  padding: 10%;
  flex: 1 1 80%;
  margin-bottom: auto;
  min-height: 100vh;
  flex-wrap: wrap;
  /* background: rgba(255, 255, 255, 0.103); */ 
}

/*=========
6 - Main Container
=========*/
.row {
  font-size: 1.2rem;
  margin: 5px;
  
}

.hour{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.397);
  margin: 5px;
  box-shadow: 0 0 5px 1px rgb(87, 86, 86);
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.description{
  display: flex;
  align-items: center;
  border-style: none;
  margin: 5px;
  background: rgba(255, 255, 255, 0.397);
  box-shadow: 0 0 5px 1px rgb(87, 86, 86);
  font-family: "Orbitron", sans-serif;
  border-radius: 10px 10px;
  backdrop-filter: blur(10px);
  
 
}

.saveBtn, .clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 25px; */
  border-style: none;
  /* background: rgba(255, 255, 255, 0.123); */
  background: transparent;
  border-radius: 10px;
  width: 2.6vw;
}

.save, .delete {
  font-size: 3.5rem;
  margin: 2px; 
}


.delete:hover, .save:hover {
  color: white;
}


/*=========
7 - current time colours
=========*/

.pastTime {
  display: flex;
  align-items: center;
  border-style: none;
  margin: 5px;
  background: rgba(129, 21, 2, 0.589);
  box-shadow: 0 0 5px 1px rgb(129, 21, 2, 0.589);
  font-family: "Orbitron", sans-serif;
  border-radius: 10px 10px;
  backdrop-filter: blur(10px);
 
}

.presentTime {
  display: flex;
  align-items: center;
  border-style: none;
  margin: 5px;
  background: rgba(255, 255, 255, 0.397);
  box-shadow: 0 0 5px 1px rgb(87, 86, 86);
  font-family: "Orbitron", sans-serif;
  border-radius: 10px 10px;
  backdrop-filter: blur(10px);
}

.futureTime {
  display: flex;
  align-items: center;
  border-style: none;
  margin: 5px;
  background: rgba(3, 78, 3, 0.329);
  box-shadow: 0 0 5px 1px rgb(3, 78, 3, 0.329);
  font-family: "Orbitron", sans-serif;
  border-radius: 10px 10px;
  backdrop-filter: blur(10px);
  
}
