@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

ol,
ul {
  list-style: none;
}

/*====================
- Table of Contents -

1 - 

2 - 

3 - 

4 - 

5 - 

6 - 

7 - 

8 - 

====================*/

html {
  font-family: "Orbitron", sans-serif;

}


/* @media (min-width: 600px) { */
body {
  background-image: linear-gradient(145deg, #02214e , #0ddaa6 );
  /* color: rgb(128, 119, 119); */
  min-height: 100%;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: rgb(104, 100, 100);
  display: flex;
  flex-wrap: wrap;
}
/* } */

/*============
 DARK MODE 
=============*/

/* @media (min-width: 600px) { */
body.dark {
  background-image: linear-gradient(145deg, #130e13 , #1f100e );
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* } */

/* body {
    display: flex;
    flex-wrap: wrap;
} */

/*=========
1 - Sidebar - LIGHT
 =========*/

/* transition from top bar to sidebar */
@media (min-width: 950px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    min-height: 100%;
    flex: 1 1 20%;
    padding: 1.5rem;
    z-index: 2;
   
  }
}

/* remain as header bar */
@media (min-width: 600px) and (max-width: 950px) {
  .sidebar {
    background: white;
    flex: 1 1 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    z-index: 2;
  }
}

/* mobile view */
@media (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    background: white;
    padding: 1rem;
    z-index: 2;
  }
}

/*=========
2 - Sidebar DARK
 =========*/
/* transition from top bar to sidebar */
@media (min-width: 950px) {
  .sidebarDark {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(86, 86, 88);
    min-height: 100%;
    flex: 1 1 20%;
    padding: 1.5rem;
    z-index: 2;
   
  }
}

/* remain as header bar */
@media (min-width: 600px) and (max-width: 950px) {
  .sidebarDark {
    background: rgb(86, 86, 88);
    flex: 1 1 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    z-index: 2;
  }
}

/* mobile view */
@media (max-width: 600px) {
  .sidebarDark {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    background: rgb(86, 86, 88);
    padding: 1rem;
    z-index: 2;
  }
}

/*=========
3 - Sidebar Contents
 =========*/

 .dateTime {
   display: flex;
   /* justify-content: center;
   align-items: center; */
   text-align: center;
 }

/*===========
4 - Theme Toggle Switch
============*/

.switch {
  position: absolute;
  top: 25px;
  left: 25px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c51212;
}

input:focus + .slider {
  box-shadow: 0 0 2px #f8d1d1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*=========
5 - Main Container
=========*/

.main-container {
  padding: 10%;
  flex: 1 1 80%;
  margin-bottom: auto;
  min-height: 100vh;
  flex-wrap: wrap;
  /* background: rgba(255, 255, 255, 0.103); */ 
}

/*=========
6 - Main Container
=========*/
.row {
  font-size: 1.2rem;
  margin: 5px;
  
  
}

.hour{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  /* border-style: none; */
  margin: 2px;
  box-shadow: 0 0 5px 1px rgb(87, 86, 86);
  font-family: "Orbitron", sans-serif;
}

.description{
  display: flex;
  align-items: center;
  border-style: none;
  margin: 2px;
  box-shadow: 0 0 5px 1px rgb(87, 86, 86);
  font-family: "Orbitron", sans-serif;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-style: none;
  background: transparent;
}

.save {
  font-size: 60px;
  
}

.save:hover {
  color: white;
}