@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

ol,
ul {
  list-style: none;
}

/*====================
- Table of Contents -

1 - 

2 - 

3 - 

4 - 

5 - 

6 - 

7 - 

8 - 

====================*/

/* @media (min-width: 600px) { */
    html {
      background-image: linear-gradient(145deg, #221122 55%, #e66858 45%);
      /* color: rgb(128, 119, 119); */
      min-height: 100%;
      font-family: "Orbitron", sans-serif;
      font-size: 1.5rem;
      color: rgb(104, 100, 100);
    }
  /* } */


/*============
 DARK MODE 
=============*/

/* @media (min-width: 600px) { */
    html.dark {
      background-image: linear-gradient(145deg, #130e13 55%, #1f100e 45%);
      color: white;
      font-family: "Orbitron", sans-serif;
      font-size: 1.5rem;
      min-height: 100%;
    }
  /* } */

